@using System;
@using Microsoft.AspNetCore.Identity;
@using HotelManagementSystem.Models;
@inject SignInManager<Person> SignInManager;
@inject UserManager<Person> UserManager;


@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Secured/Index">Dashboard</a>
        </li>


        @if(User.IsInRole(UserRole.SYSTEM_ADMINISTRATOR.ToString().ToLower()))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Accomodation
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Secured/Rooms/Index">Rooms</a>
                    <a class="nav-link text-dark" asp-area="" asp-page="/Secured/Rooms/Create">Add Room</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link text-dark" asp-area="" asp-page="/Secured/Rooms/Category/Index">Room Categories</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Secured/Employees/Index">Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Secured/CUstomers/Index">Customers</a>
            </li>
        }

        @if(!User.IsInRole(UserRole.EMPLOYEE.ToString().ToLower()))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Secured/Index">Bookings</a>
            </li>
        }

    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Authentication/Logout">
                <i class="fa fa-sign-out"></i>
                Logout
            </a>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Authentication/Index">Login</a>
        </li>
    </ul>
}