@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mt-4 pt-4">
    <h1 class="display-4 mt-4 pt-4">Welcome...</h1>
    <p>Hotel Management System Version 1.0.</p>
</div>
