@page
@model HotelManagementSystem.Pages.Secured.Employees.CreateModel
@{
    ViewData["Title"] = "Create Employee";
}


<form method="post">
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>Employee Creation Form</h6>
                <hr class="dropdown-divider" />
            </div>
        </div>
    </div>
</form>